# Ignorar datos
data/raw/
data/processed/
*.csv
*.xlsx

# Ignorar archivos de sistema y temporales
.DS_Store
__pycache__/
*.RData
*.Rhistory
.ipynb_checkpoints/# Datos
data/raw/*
data/processed/*
*.csv

# Archivos de sistema y R
.DS_Store
.Rhistory
.RData
.Rproj.user
__pycache__/
*.pyc
